.header-container {
  display: flex;
  background-color: whitesmoke;
  justify-content: space-between;

  padding: 0.625rem 1.25rem;
  .header-logo {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }

  .header-menu-icon {
    display: none;
  }

  .header-menus {
    display: flex;
    justify-content: space-between;
    gap: 1.875rem;
    font-weight: 500;
    .header-menu {
      text-transform: uppercase;
      color: rgba(32, 31, 31, 0.912);
      cursor: pointer;
    }
  }
  .header-icons {
    display: flex;
    gap: 1.25rem;
    cursor: pointer;
  }
}

@media screen and (max-width: 480px) {
  .header-container {
    .header-menus {
      display: none;
    }

    .header-icons {
      gap: 0.625rem;
    }

    .header-menu-icon {
      display: block;
    }
  }
}
